body{margin-left: 12em;

}
.form, .form_edit{display: flex;
flex-direction: column;
gap: 15px;
max-width:fit-content;
justify-content: center;
text-align: center;}

.list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: tomato;
    font-size:  20px;
}

.edit{
    padding: 3px;
    box-shadow: 1px 1px 5px 0.1px #444;
    font-size: 15px;
    border-radius: 2px;
    color: royalblue;
}

.lineas{
    list-style-type: none;
    margin-bottom: 1em;
}

.edit{
    margin-left: 4px;
}