extends layout

block content
  nav.box_ul
   li.logo
    h1.titulo= logo
   li.Ingreso
    a(class="Estas_en", href="/")= EstasEn
   div(class="barra") H
    ul(class="sex_off") 
     li.sex_container
      a(class="sexo" , href="Homb")= SexoM
      a(class="sexo" , href="Muj")= SexoF
  dialog#modal
  form(class="form", data-form)
    label(for="name") Nombre
    input(id="name", class="nombre", type="text", placeholder="Ingresa tu Nombre", required , data-nombre)
    label(for="apellido") Apellido
    input(id="apellido", class="ap",type="text",placeholder="Ingresa tu Apellido", required, data-apellido)
    label(for="email") Email
    input(id="email", class="mail", type="email", placeholder="ejemplo@algien.com", required, data-email)
    label(for="sexo") sexo
    select(name="sexo", type="select", id="sexo", class="sex", required, data-sexo)
     option(value="") - --- -
     option(value="Masculino") Masculino 
     option(value="Femenino") Femenino
    label(for="Nacimiento") Fecha de Nacimiento 
    input(type="date", pattern="\d{2}/\d{2}/\d{4}", class="naci", id="Nacimiento", required , data-naciminto)
    label(for="telefono") Telefono 
    input(type="number", id="telefono", class="tel", placeholder="N° sin el 15, solo cod de area", maxlength="12", data-telefono, required)       
    label(for="direccion") Direccion 
    input(type="text", name="direccion", id="direccion", class="direc", data-direccion, required)
    label(for="ciudad") Ciudad 
    input(type="text", id="ciudad", class="city", data-ciudad, required)
    label(for="Provincia") Provincia 
    input(type="text", id="Provincia", class="prov", data-provincia , required)
    label(for="Pais") Pais 
    input(type="text", id="Pais", class="pais", data-pais, required)
    button(type="submit", class="btnEnv") Enviar     
  footer
   br
   br
   span.sig
    | Contacto:
    a.fa-brands.fa-linkedin(href='https://www.linkedin.com/in/pablo-c%C3%A9sar-zabala-51055b1bb')
    a.fas.fa-hashtag(href='https://instagram.com/condebasura?utm_source=qr&igshid=NGExMmI2YTkyZg%3D%3D' target='_blank')
   br
   br
   p.der Pablo C. Zabala &copy; 2023 
   script(type="module", src="/js/Envio.js")
   script( src="/js/Nav.js") 
   
