doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width ,initial-scale=1.0")
		meta(http-equiv="Content-Type" content="text/html")
		meta(https-equiv="X-UA-Compatible", content="ie=edge")
		meta(http-equiv="Content-Security-Policy" content="script-src 'self' https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js   https://kit.fontawesome.com/523f183385.js ")
		
		title= title
		link(rel="icon", href="/img/crud.svg")
		link(rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="/css/Estilo.css")
		link(rel="stylesheet" href="/css/Nav.css")
		link(rel="stylesheet" href="/css/Stil.css")

		
	body
	block content
	