.formFilter{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 60vh;
    margin-top: 2em;
    gap: 1em;
    justify-content: center;
    position: static;
    padding: 3px;
    border: 1px solid #5600c68c;
    box-shadow: 2px 2px 8px #445454;
    border-radius: 4px;
}

.filter:focus{
border-style: none;
}

.buscar{
border: none;
font-size: 16px;
background-color: rgb(65, 171, 65);
padding: 5px;
border-radius: 5px ;
color: #efe1db;
box-shadow: 2px 2px 6px #444;
}

.buscar:active{
    box-shadow: 1px 1px 1px #444;
}

.parrafo{
    display: none;
    color: red;
    text-shadow: 2px 2px 2px #4444;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2em;
}
.recibe{
    display: grid;
    grid-template-columns: 1fr;
    
}

.fa-circle-notch {
    margin-top: 6em;
    margin-bottom:  6em;
    width: 65px;
    height: 65px;
    display: grid;
    animation: spinner-plncf9 4s infinite;
 }
 
 .fa-circle-notch::before,
 .fa-circle-notch::after {
    content: "";
    grid-area: 1/1;
    border: 9px solid;
    border-radius: 50%;
    border-color: #474bff #474bff #0000 #0000;
    mix-blend-mode: darken;
    animation: spinner-plncf9 1s infinite linear;
 }
 
 .fa-circle-notch::after {
    border-color: #0000 #0000 #efe1db #efe1db;
    animation-direction: reverse;
 }
 
 @keyframes spinner-plncf9 {
    100% {
       transform: rotate(1turn);
    }
 }

table{
    width: 95%;
    table-layout: fixed;
    box-shadow: 23px 32px 63px -2px #ad775294;
    margin: 5em 3em;
    border-radius: 6px;
    padding: 0%;

    
}


tbody , thead{
line-height: 2em;
}



.edit , .del {
    border-style: none;
    color: blue;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin: 4px 0.9em;
    max-width: max-content;
    text-decoration: none;
    text-shadow: 1px 2px 4px #9b9a9a;
    
}
.del{
    color: red;
    text-shadow: 1px 2px 4px #9b9a9a;
}

.del:hover{
    color: white;
}
.edit:hover{
    color: white;
}

.linea , tr{ 
    align-items: center;
    align-content: center;
    border-radius: 6px;
    text-align: center;
    
    display: inline-table;
    gap: 3px;
    

    
   
}

  
tr{
    align-content: center;
    text-align: center;
    font-size: 18px;
    table-layout: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
    
    
    
}
th{
 overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    margin: 3px;
    padding: 0.5em;
}

th:nth-child(odd){
    background: rgba(252, 121, 98, 0.473);
    box-shadow:  1px 1px 5px #444;
}

th:nth-child(even){
    background: rgba(40, 105, 245, 0.384);
    box-shadow:  1px 1px 5px #444;
}

td{
    cursor: grab;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    margin: 2px;
    padding: 0.4em;
    text-align: center;
    font-size: 16px;
    
}

td:nth-child(odd){
    gap: 3px;
    box-shadow:  1px 1px 5px 1px  rgba(131, 129, 129, 0.575);
   
}

td:nth-child(odd):hover{
    background-color: rgba(243, 49, 15, 0.815);
    color: white;

}

td:nth-child(even){
    gap: 3px;
    box-shadow:  1px 1px 5px 1px rgba(131, 129, 129, 0.575);
 
}
td:nth-child(even):hover{
    background-color:  rgba(40, 105, 245, 0.945); 
    color: white;   
}

  .linea:hover{
    background-color: rgba(40, 105, 245, 0.205);

}


#modal{
    border-style: none;
    box-shadow: 2px 2px 12px #467bee9d;
    text-align: center;
    justify-content: center;
    padding: 2em;
    margin-top: 15% ;
}
.p_delete{
    font-size: 18px;
    color: rgb(54, 54, 54);
}

.cajabtn{
    margin:2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.aceptar, .cancelar{
    padding: 0.5em;
    font-size: 16px;
    box-shadow: 1px 1px 12px #9b9a9a;
    border-style: none;
}

.aceptar:hover{
    background-color: red;
    color: white;
}

.cancelar:hover{
    background-color: rgb(9, 170, 22);
    color: white;
}

.cancelar:focus , .aceptar:focus{
box-shadow: none
}